.about-container {
  max-width: 267px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 0.1em;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 150%;
  color: #f5f5f5;
}

.section-text {
  margin: 0;
  font-weight: 400;
  font-size: 0.74rem;
  line-height: 150%;
  color: #dcdcdc;
}
